/* Estilos para la página Quiénes Somos */

* {
    box-sizing: border-box;
  }
  
  html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #292929;
    color: black;
  }

  section {
    height: 100%;
    overflow-y: scroll;
  }
  
  #noscroll {
    overflow: hidden;
  }
  
  .container {
    max-width: 100%;
    padding: 2rem;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #61b2e0;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  
  
  
  /* Sección de presentación */
  
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  /* Sección del equipo */
  
  .card {
    margin-bottom: 2.5rem;
    background-color: #333333;
    color: #ffffff;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
    line-height: 1.4;
  }
  
  /* Sección de logros */
  
  .achievement {
    text-align: center;
    padding: 1rem;
    background-color: #333333;
    border: 1px solid #555555;
    border-radius: 0.25rem;
    margin-bottom: 5rem;
  }

  .card-img-top {
    width: 100%;
    height: 550px;
    min-width: 100%;
    min-height: 550px;
    object-fit: cover;
  }
  
  .achievement i {
    color: #ffffff;
    margin-bottom: 1rem;
  }
  
  .achievement h4 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ffffff;
  }
  
  .achievement p {
    font-size: 1rem;
    line-height: 1.4;
    color: #ffffff;
  }
  /* Responsive */
  @media (max-width: 991.98px) {
    h2 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    .card-title {
      font-size: 1.3rem;
    }
  
    .achievement h4 {
      font-size: 1.1rem;
    }
  }
  